<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
</head>

<body class="flex">
    <!-- glassmorphism background -->
    <div id="page-backdrop">
        <div id="page-backdrop-object"></div>
    </div>

    <!-- header with nav bar -->
    <header class="glassmorphism">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://api.dicebear.com/6.x/icons/svg?icon=bug&backgroundType=gradientLinear&backgroundColor=b6e3f4,c0aede" class="avatar-size-50 rounded-2 shadow-grey" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mx-2">
                                <a class="nav-link fw-500" asp-area="" asp-controller="Account" asp-action="Dashboard">
                                    My Dashboard
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link fw-500" asp-area="" asp-controller="Account" asp-action="Profile">
                                    My Profile
                                </a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link fw-500" asp-area="" asp-controller="Account" asp-action="Tasks">
                                    My Tasks
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link text-black fw-500"
                               asp-area="" asp-controller="Login" asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item mx-3">
                                <a class="nav-link fw-500" asp-area="" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link fw-500" asp-area="" asp-controller="Home" asp-action="About">
                                    About
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link fw-500" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    Privacy
                                </a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link fw-500" asp-area="" asp-controller="Home" asp-action="Contact">
                                    Contacts
                                </a>
                            </li>
                            <li class="nav-item mx-3 btn-theme btn-theme-gradient text-black">
                                <a class="nav-link fw-500 text-black p-2"
                                   asp-area="" asp-controller="Login" asp-action="Login">
                                    Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- content -->
    <div class="glassmorphism w-100 h-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer -->
    <footer class="border-top footer text-muted glassmorphism">
        <div class="container">
            &copy; 2023 - BugTracker
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>