@model BugTracker.Models.ViewDataModels.DashboardViewModel

<div class="flex flex-column w-100 h-100 justify-content-center align-items-center text-center gap-5 p-4">
    @if (Model.IsCurrentUser)
    {
        <div class="row py-3">

            <!-- project creation button -->
            <div class="col-auto h-100">
                <button type="button" class="btn btn-primary btn-standard-gradient border-0 p-2" data-bs-toggle="modal" data-bs-target="#create-project-dialog">
                    Create Project
                </button>
            </div>

            <!-- project search bar -->
            <div class="col-6">
                <form id="project-search-form" method="post" asp-controller="AccountActions" asp-action="SelectProject" class="mw-100">
                    <select name="project-search" class="project-search select2 form-control bg-body-gradient" onchange="submitForm('project-search-form')"></select>
                </form>
            </div>

        </div>
    }

    <!-- welcome message -->
    <div class="row py-5 align-items-center">

        <div class="col-auto">
            <img src=@Model.User.Avatar class="avatar-size-150 rounded-circle border-theme-light border-2" />
        </div>

        <div class="col-auto pt-5 px-md-3 px-lg-3">
            @if (Model.IsCurrentUser)
            {
                <h1 class="display-1 bg-gradient-2 text-gradient text-theme-primary font-digital fw-500 d-inline" style="--color1: var(--secondary-theme-color); --color2: var(--on-primary-theme-color);">
                    Welcome @Model.User.Name
                </h1>
            }
            else
            {
                <h1 class="display-1 bg-gradient-2 text-gradient text-theme-primary font-digital fw-500 d-inline" style="--color1: var(--secondary-theme-color); --color2: var(--on-primary-theme-color);">
                    Welcome to @Model.User.Name 's Dashboard
                </h1>
            }
        </div>

    </div>

    <!-- user's projects -->
    <h1 class="py-5 text-gradient bg-theme-gradient text-theme-neutral d-inline">
        <i class="fa fa-code-fork" aria-hidden="true"></i> User Projects
    </h1>
    @if (Model.UserProjects.Count > 0)
    {
        <div class="row py-3">
            @foreach (var project in Model.UserProjects)
            {
                <div class="col-6 col-md-4 col-lg-3 p-1">
                    <a asp-controller="Account" asp-action="Project" asp-route-projectId=@project.ID class="text-decoration-none">
                        <div class="card hover-push border-theme-on-primary border-1">
                            <img src=@project.Avatar class="card-img" />
                            <h5 class="card-img-overlay h-50 bg-theme-gradient text-theme-neutral">@project.Name</h5>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        @if (Model.IsCurrentUser)
        {
            <div class="py-3 bg-neutral-gradient text-gradient text-theme-primary">
                No projects available. Join a project or create one.
            </div>
        }
        else
        {
            <div class="py-3 bg-neutral-gradient text-gradient text-theme-primary">
                User is not part of any projects.
            </div>
        }
    }

    @if (Model.IsCurrentUser)
    {
        <!-- project creation modal dialog -->
        <div class="modal fade" id="create-project-dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content bg-body-gradient border-1 border-theme-light">
                    <form method="post" asp-controller="AccountActions" asp-action="CreateProject">

                        <div class="modal-header">
                            <h5 class="modal-title text-theme-light" id="projectCreationDialogTitle">Project Creation</h5>
                        </div>

                        <div class="modal-body">
                            <div class="row text-start">
                                <label for="project-name" class="text-start text-theme-light">
                                    <i>Enter a name for the project</i>
                                </label>
                            </div>
                            <div class="row p-2">
                                <input type="text" id="project-name" name="project-name" minlength="3" maxlength="50" required
                                       class="form-control-sm bg-body-gradient border-1 border-theme-light" placeholder="Enter project name here ..." />
                            </div>
                        </div>

                        <div class="modal-footer gap-2">
                            <button type="button" class="btn btn-secondary btn-neutral-gradient" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btn-standard-gradient">Create Project</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    }
</div>
