@model BugTracker.Models.ViewDataModels.DatabaseErrorViewModel
@{
    ViewData["Title"] = "Database Error";
}

<h1 class="text-danger">@ViewData["Title"].</h1>
<h2 class="text-danger">An error occurred while accessing the database.</h2>

<p>
    <strong>Error Message: </strong> @Model.ErrorMsg
</p>