@{
    ViewData["Title"] = "Logout";
}
<div class="flex flex-column w-100 h-100 justify-content-center align-items-center text-center gap-5 p-4">
    <h1 class="text-theme-primary py-3">You have successfully logged out.</h1>
    <div class="flex w-100 py-3 rounded-pill bg-gradient-2" style="--color1: var(--neutral-theme-color); --color2: silver;">
        <img src="~/images/Done.svg" class="object-contain mw-100" />
    </div>
</div>