@model BugTracker.Models.ViewDataModels.ProfileViewModel

<!-- edit profile form -->
<form method="post" enctype="multipart/form-data" asp-controller="AccountActions" asp-action="UpdateProfile">
    <!-- image upload -->
    <div class="mt-sm-2">
        <img id="avatar" src="@Model.User.Avatar" alt="" class="rounded-circle" width="100px" height="100px" />
        <input type="file" id="image-file" name="image-file" onchange="previewImage()" />
        <label id="file-size-warning" style="display: none;">File size too large. Select a file smaller than 16MB.</label>
    </div>
    <!-- email -->
    <div class="mt-sm-4">
        <h5>Email</h5>
        <label name="email">@Model.User.Email</label>
    </div>
    <!-- username edit -->
    <div class="mt-sm-2">
        <h5>Username</h5>
        <input type="text" name="username" value="@Model.User.Name" />
    </div>
    <!-- status edit -->
    <select name="user-status-select">
        <option selected hidden>@Model.User.Status</option>
        <option>Free</option>
        <option>Busy</option>
    </select>
    <!-- update profile button -->
    <div class="mt-sm-4">
        <button type="submit" class="border-light rounded-pill">
            <span class="material-symbols-outlined">edit</span> Save
        </button>
    </div>
</form>

<!-- account deletion form -->
<form method="post" onSubmit="return confirm('This action is not cannot be undone. Are you sure you wish to proceed?');" class="mt-sm-5" asp-controller="AccountActions" asp-action="DeleteAccount">
    <button type="submit" class="btn-danger">Delete Account</button>
</form>
