@model BugTracker.Models.ViewDataModels.ProjectDashboardModels
@{
}

<img src=@Model.Project.Avatar alt="project avatar" width="100px" height="100px" />
<h2>@Model.Project.Name</h2>

<!-- header of page -->
<div class="btn-toolbar">
    <button type="button" class="btn btn-primary" id="create-report-btn" data-bs-toggle="modal" data-bs-target="#create-report-dialog">Report a Bug</button>
</div>

<!-- collaborators list -->
<h5>Developers</h5>
<ul>
    @foreach (var developer in Model.Developers)
    {
        <li>
            <img src=@developer.Avatar alt="" class="rounded-circle" width="50px" height="50px" />
            <label>@Html.DisplayFor(modelItem => developer.Name)</label>
        </li>
    }
</ul>

<!-- form for project deletion -->
@if (Model.IsDeveloper)
{
    <form method="post" onSubmit="return confirm('This action is not cannot be undone. Are you sure you wish to proceed?');" class="mt-sm-5" asp-controller="Account" asp-action="DeleteProject" asp-route-projectId=@Model.Project.ID>
        <button type="submit" class="btn-danger">Delete Project</button>
    </form>
}