@model BugTracker.Models.ViewDataModels.ProjectDashboardModels
@{
}

<img src=@Model.Project.Avatar alt="project avatar" width="100px" height="100px" />
<h2>@Model.Project.Name</h2>

<!-- header of page -->
<div class="btn-toolbar">
    <button type="button" class="btn btn-primary" id="create-report-btn" data-bs-toggle="modal" data-bs-target="#create-report-dialog">Report a Bug</button>
</div>

<!-- collaborators list -->
<h5>Developers</h5>
<ul>
    @foreach (var developer in Model.Developers)
    {
        <li>
            <img src=@developer.Avatar alt="" class="rounded-circle" width="50px" height="50px" />
            <label>@developer.Name</label>
        </li>
    }
</ul>

<!-- collaborator addition -->
@if (Model.IsDeveloper)
{
    <h5>Add Collaborators</h5>
    <form method="get" class="mt-1" asp-controller="Account" asp-action="ProjectDashboard">
        <input type="hidden" name="projectId" value=@Model.Project.ID />
        <input type="text" name="searchQuery" placeholder="Search for users ... " />
        <button type="submit">Search</button>
    </form>

    @if (Model.SearchQuery != null)
    {
        <div class="modal fade mt-2 search-results" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Search Results for "@Model.SearchQuery"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            @foreach (var user in Model.UserSearchResults)
                            {
                                <li>
                                    <form method="post" asp-controller="Account" asp-action="AddDeveloper" asp-route-projectId=@Model.Project.ID asp-route-userId=@user.ID>
                                        <img src=@user.Avatar alt="project avatar" class="rounded-circle" width="30px" height="30px">
                                        <label>@user.Name</label>
                                        <button type="submit" class="rounded-circle bg-white">+</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- form for project deletion -->
@if (Model.IsDeveloper)
{
    <form method="post" onSubmit="return confirm('This action is not cannot be undone. Are you sure you wish to proceed?');" class="mt-sm-5" asp-controller="Account" asp-action="DeleteProject" asp-route-projectId=@Model.Project.ID>
        <button type="submit" class="btn-danger">Delete Project</button>
    </form>
}