@model BugTracker.Models.ViewDataModels.TasksViewModel

<div class="flex flex-column w-100 h-100 justify-content-center align-items-center text-center gap-5 p-4">
    <!-- task list -->
    <div class="py-3">
        <h1 class="bg-gradient-2 text-gradient text-theme-secondary" style="--color1: var(--secondary-theme-color); --color2: grey;">Tasks</h1>
    </div>

    <div class="row py-3">
        @if (Model.BugReports.Count > 0)
        {
            @foreach (var report in Model.BugReports)
            {
                <div class="col-12 col-md-6 col-lg-4 px-3">

                    <a asp-controller="Account" asp-action="BugReport" asp-route-reportId=@report.ID class="text-decoration-none">
                        <div class="card hover-push bg-body-gradient border-1 border-theme-light">

                            <div class="card-img-top task-top"></div>

                            <div class="card-body">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <span class="material-symbols-outlined" style="color: @report.DisplayColor;">bug_report</span>
                                        <h5 class="card-title col-auto">@report.Summary</h5>
                                    </div>
                                    <div class="col-12">
                                        <i class="text-grey">Reported on <br /> @report.Date</i>
                                    </div>
                                </div>

                                @if (report.HelpWanted)
                                {
                                    <div class="rounded-pill bg-theme-on-primary text-white d-inline p-1">Help Wanted</div>
                                }

                            </div>

                        </div>
                    </a>

                </div>
            }
        }
        else
        {
            <div class="py-3 bg-neutral-gradient text-gradient text-theme-primary">
                No tasks available. Join a project and assign yourself to one.
            </div>
        }
    </div>
</div>
