@model BugTracker.Models.ViewDataModels.TasksViewModel

<ul>
	@foreach (var report in Model.BugReports)
	{
		<li>
			@report.ID
			@if (report.HelpWanted)
			{
				<label>Help Wanted</label>
			}
		</li>
	}
</ul>
