@{
    ViewData["Title"] = "About This Project";
}

<div class="flex flex-column w-100 h-100 justify-content-center align-items-center text-center gap-5 px-4 px-md-8 px-lg-8">
    <!-- title -->
    <h1 class="bg-gradient-2 text-gradient text-theme-primary py-3 px-4 px-md-8 px-lg-8" style="--color1: var(--secondary-theme-color); --color2: var(--on-primary-theme-color);">
        @ViewData["Title"]
    </h1>

    <!-- project background -->
    <div class="py-3">
        <h2 class="bg-gradient-2 text-gradient text-theme-primary" style="--color1: var(--primary-theme-color); --color2: grey;">
            Project Background
        </h2>
        <p>
            I developed this project to learn new frameworks and gain development experience through creating an application. <br />
        </p>
    </div>
    <div class="py-3">
        <h2 class="bg-gradient-2 text-gradient text-theme-primary" style="--color1: var(--primary-theme-color); --color2: grey;">
            Project's Value
        </h2>
        <p>
            This application is a software that for users, provides a bug reporting playform, and for developers, keep track of their projects and its bugs. <br />
            No developer can be sure that their code works as intended in all circumstances when the codebase is large, without running the code and testing it. <br />
            
            <br />

            And for large programs, even a thorough testing is not enough to catch all existing bugs before the product's release. That's why you often see product patches fixing an issue. <br />
            This is why a bug tracker such as this comes into play. <br />

            <br/>

            After a product's release, developers need to keep track of user feedback and fix any issues that arise. <br />
            By managing bug reports for projects in an organized, efficient manner through its easy-to-access and intuitive interface, this bug tracker significantly simplifies the process of receiving, classifying, and addressing bug reports. <br />
    </div>
    <div class="py-3">
        Come check out our project details
        <span>
            <a href="https://github.com/IreneRSun/BugTracker" class="text-white">here</a>
        </span>
    </div>

</div>
