@{
    ViewData["Title"] = "About This Project";
}

<div class="text-center text-gradient tg-grad-digital-blue">
    <!-- info icon -->
    <div class="display-1">
        <i class="fa fa-info-circle text-gradient tg-grad-digital-blue" aria-hidden="true"></i>
    </div>

    <!-- title -->
    <h1>@ViewData["Title"]</h1>

    <!-- project background -->
    <div class="my-3 lead">
        This project is a personal project developed over the summer for learning purposes. <br />
        The intention was to <br />

        <br />

        This project, i.e. this bug tracking application, is a software that for users, provides a bug reporting platform, and
        for developers, keeps track of their projects and its bugs. <br />

        No developer can be sure that their code works as intended in all circumstances when the codebase is large, 
        without running the code and testing it. <br />

        And for large programs, even a thorough testing is not enough to catch all existing bugs before the product's release.
        That's why you often see product patches fixing an issue. <br />

        This is why a bug tracker such as this comes into play. <br />
        After a product's release, developers need to keep track of user feedback and fix any issues that arise. <br />

        By managing bug reports for projects in an organized, efficient manner through its easy-to-access and intuitive interface,
        this bug tracker significantly simplifies the process of receiving, classifying, and addressing bug reports. <br />
    </div>

    <!-- showcase of site and explanation of benefits -->
</div>

