@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h3>
    For issues or inquiries, please contact us using the information below. <br />
    If you are experiencing functional issues with this bug tracker application, 
    please report the bug on this app's project page for more timely assistance. <br />
    We will get back to you as soon as possible.
</h3>

<label for="email"><i>Email</i></label>
<p id="email">irene.rsun@gmail.com</p>

<label for="github"><i>GitHub</i></label>
<p id="github">IreneRSun</p>
