@{
    ViewData["Title"] = "Home";
}

<div class="text-center text-gradient tg-digital-blue">
    <!-- home icon -->
    <div class="display-1">
        <i class="fa fa-home text-gradient tg-digital-blue" aria-hidden="true"></i>
    </div>

    <!-- welcome message -->
    <h1 class="display-4 p-1">
        Welcome to Bug Tracker 1.0
        <span class="material-symbols-outlined">
            emoji_nature
        </span>
    </h1>

    <!-- outline of features -->
    <h3 class="mt-5">Features</h3>
    <p>
        Tired of losing track of what issues need to be addressed after your software product has been released?
        Bug Tracker 1.0 offers a solution by streamlining the post-product release progress.

        <div>
            <span class="material-symbols-outlined">
                query_stats
            </span>
            Tracking of projects and bugs
        </div>
        <div>
            <span class="material-symbols-outlined">
                add_task
            </span>
            Easily see what tasks you have been assigned 
        </div>
        <div>
            <span class="material-symbols-outlined">
                bug_report
            </span>
            Gives a simple method for users to report bugs / Easy way to provide feedback
        </div>
        <div>
            <span class="material-symbols-outlined">
                sort
            </span>
            Filter and sort bugs to find high priority issues fast
        </div>
    </p>
</div>