@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bug Tracker 1.0</h1>
    <span class="material-symbols-outlined">
        emoji_nature
    </span>
</div>

<h3>Features</h3>
<p>
    Tired of losing track of what issues need to be addressed after your software product has been released?
    Bug Tracker 1.0 offers a solution by streamlining the post-product release progress.

    <div>Tracking of projects and bugs</div>
    <div>Easily see what tasks you have been assigned</div>
    <div>Gives a simple method for users to report bugs / Easy way to provide feedback</div>
    <div>Filter and sort bugs to find high priority issues fast</div>
</p>
