@{
    ViewData["Title"] = "Home";
}

<div class="text-center">

    <!-- welcome message -->
    <div class="display-4 p-1 text-gradient tg-digital-blue mb-3">
        Welcome to Bug Tracker 1.0
    </div>

    <!-- outline of features -->
    <h1 class="mt-5 text-gradient tg-grad-grey d-inline text-shadow-grey">Features</h1>
    <p class="mt-3">
        Tired of losing track of what issues need to be addressed after your software product has been released?
        Bug Tracker 1.0 offers a solution by streamlining the post-product release progress.

        <div class="row">
            <div class="col-6">
                <div class="material-symbols-outlined avatar-size-50 rounded-circle outline-grey bg-grad-dull-gold text-white">
                    query_stats
                </div>
                Tracking of projects and bugs
            </div>
            <div class="col-6">
                <div class="material-symbols-outlined avatar-size-50 rounded-circle outline-grey bg-grad-dull-gold text-white">
                    add_task
                </div>
                Easily see what tasks you have been assigned
            </div>
            <div class="col-6">
                <div class="material-symbols-outlined avatar-size-50 rounded-circle outline-grey bg-grad-dull-gold text-white">
                    bug_report
                </div>
                Effortlessly provide and discuss feedback
            </div>
            <div class="col-6">
                <div class="material-symbols-outlined avatar-size-50 rounded-circle outline-grey bg-grad-dull-gold text-white">
                    sort
                </div>
                Filter and sort bugs to find high priority issues fast
            </div>

        </div>
    </p>
</div>
