@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <!-- lock icon -->
    <div class="display-1">
        <i class="fa fa-lock tg-digital-blue text-gradient" aria-hidden="true"></i>
    </div>

    <!-- title -->
    <h1 class="text-gradient tg-digital-blue">@ViewData["Title"]</h1>

    <!-- policy on privacy -->
    <div class="my-3 lead">
        Here at Bug Tracker 1.0, we take the privacy of users very seriously. <br />
        You are entrusting your information to us, and we consider it our responsability to protect it and not misuse it. <br />
        We take appropriate measures to ensure your data is robust and
        only share information to third parties when it is necessary for the functioning of the app. <br />
        Below we detail how we collect, protect, use and share your information.
    </div>

    <!-- privacy policy details -->
    <h2 class="my-3 text-gradient tg-grad-grey d-inline">
        Why do we collect your data?
    </h2>
    <p>We collect your email data for user authentication and authorization.</p>

    <h2 class="my-3 text-gradient tg-grad-grey d-inline">
        How is my data protected?
    </h2>
    <p>Your data is protected by Auth0's multi-factor authentication.</p>

    <h2 class="my-3 text-gradient tg-grad-grey d-inline">
        What do we use your data for?
    </h2>
    <p>
        We use your information to identify you.
    </p>

    <h2 class="my-3 text-gradient tg-grad-grey d-inline">
        Who has access to my information?
    </h2>
    <p>
        Other users can see the information that is available on your profile page. 
        We do not share your information beyond what is necessary for the functioning of this application.
    </p>

</div>
