@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <!-- lock icon -->
    <div class="display-1">
        <i class="fa fa-lock tg-digital-blue text-gradient" aria-hidden="true"></i>
    </div>

    <!-- title -->
    <h1 class="text-gradient tg-digital-blue">@ViewData["Title"]</h1>

    <!-- policy on privacy -->
    <div class="my-3 lead">
        Here at Bug Tracker 1.0, we take the privacy of users very seriously. <br />
        You are entrusting your information to us, and we consider it our responsability to protect it and not misuse it. <br />
        We take appropriate measures to ensure your data is robust and
        only share information to third parties when it is necessary for the functioning of the app. <br />
        Below we detail how we collect, protect, use and share your information.
    </div>

    <!-- privacy policy details -->
    <h5 class="my-3">
        Why do we collect your data?
    </h5>
    <p></p>

    <h5 class="my-3">
        How is my data protected?
    </h5>
    <p></p>

    <h5 class="my-3">
        What do we use your data for?
    </h5>
    <p></p>

    <h5 class="my-3">
        Who has access to my information?
    </h5>
    <p></p>

</div>
