@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Handjet:wght@300&display=swap');

:root {
    --primary-theme-color: #0a5b83;
    --secondary-theme-color: #1c799f;
    --accent-theme-color: #f88c49;
    --on-primary-theme-color: #5ec4db;
    --light-theme-color: #f1f4dc;
    --neutral-theme-color: #f5deb3;
    --theme-gradient: linear-gradient(rgb(77,95,95), rgb(255,224,160));
    --body-gradient: linear-gradient(rgb(32,36,40), rgb(2,4,22));
    --standard-gradient: linear-gradient(to right, rgb(34,0,188), rgb(74,177,255));
    --neutral-gradient: linear-gradient(to right, rgb(101,101,101), rgb(186,186,186));
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif !important;
    background: var(--body-gradient);
    color: white;
    padding: 0 !important;
    margin: 0 !important;
}

/** theme color utilities */
.bg-theme-primary, .btn-theme-primary {
    background-color: var(--primary-theme-color) !important;
    color: white;
}

.bg-theme-secondary, .btn-theme-secondary {
    background-color: var(--secondary-theme-color) !important;
    color: white;
}

.bg-theme-accent, .btn-theme-accent {
    background-color: var(--accent-theme-color) !important;
    color: white;
}

.bg-theme-gradient, .btn-theme-gradient {
    background-image: var(--theme-gradient) !important;
    color: black;
}

.bg-theme-on-primary, .btn-theme-on-primary {
    background-color: var(--on-primary-theme-color) !important;
    color: black;
}

.bg-theme-light, .btn-theme-light {
    background-color: var(--light-theme-color) !important;
    color: black;
}

.bg-theme-neutral, .btn-theme-neutral {
    background-color: var(--neutral-theme-color) !important;
    color: black;
}

.bg-body-gradient, .btn-body-gradient {
    background-color: rgb(2,4,22);
    background-image: var(--body-gradient) !important;
    color: white;
}

.bg-standard-gradient, .btn-standard-gradient {
    background-color: rgb(74,177,255);
    background-image: var(--standard-gradient) !important;
    color: white;
}

.bg-neutral-gradient, .btn-neutral-gradient {
    background-color: grey;
    background-image: var(--neutral-gradient) !important;
    color: white;
}

.bg-transparent, .btn-transparent {
    background-color: rgba(0,0,0,0);
    color: inherit;
}

[class*="btn-theme"], .btn-body-gradient, .btn-standard-gradient, .btn-neutral-gradient, .btn-transparent {
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    border-radius: 0.375rem;
    -webkit-appearance: button;
}

[class*="btn-theme"]:hover {
    filter: brightness(95%);
}

[class*="btn-theme"]:active {
    transform: scale(0.95);
}

.text-theme-primary {
    color: var(--primary-theme-color) !important;
}

.text-theme-secondary {
    color: var(--secondary-theme-color) !important;
}

.text-theme-accent {
    color: var(--accent-theme-color) !important;
}

.text-theme-on-primary {
    color: var(--on-primary-theme-color) !important;
}

.text-theme-light {
    color: var(--light-theme-color) !important;
}

.text-theme-neutral {
    color: var(--neutral-theme-color) !important;
}

.border-theme-primary {
    border-color: var(--primary-theme-color) !important;
}

.border-theme-secondary {
    border-color: var(--secondary-theme-color) !important;
}

.border-theme-accent {
    border-color: var(--accent-theme-color) !important;
}

.border-theme-on-primary {
    border-color: var(--on-primary-theme-color) !important;
}

.border-theme-light {
    border-color: var(--light-theme-color) !important;
}

.border-theme-neutral {
    border-color: var(--neutral-theme-color) !important;
}

[class*="border-theme"] {
    border-style: solid;
    border-width: 5px;
}

/** gradient utilities */
.bg-gradient-2 {
    background-image: linear-gradient(var(--color1), var(--color2));
}

.text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** borders, shadows, text colors utilities */
.shadow-grey {
    box-shadow: 0px 3px 10px grey;
}

.text-grey {
    color: grey !important;
}

/** fonts and symbols */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.font-digital {
    font-family: 'Handjet', cursive !important;
}

.fw-500 {
    font-weight: 500;
}

/** glassmorphism effects */
.glassmorphism {
    backdrop-filter: blur(70px);
}

#page-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#page-backdrop-object {
    width: 1000px;
    height: 50px;
    border-top: 10px solid var(--on-primary-theme-color);
    border-bottom: 10px solid var(--light-theme-color);
    transform: skewY(20deg);
}

/** content resizing */
.object-contain {
    object-fit: contain;
}

/** custom hover effects */
.whitelink {
    color: white !important;
}

.whitelink:hover {
    color: #0a58ca !important;
}

.hover-push:hover {
    transform: translateY(5px);
    -moz-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transition: 0.8s;
}

.shift-obj-container:hover .right-shift-obj {
    transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transition: 1s;
}

.cursor-pointer {
    cursor: pointer;
}

/** custom avatar sizes */
.avatar-size-30 {
    width: 30px;
    height: 30px;
    font-size: 30px !important;
}

.avatar-size-50 {
    width: 50px;
    height: 50px;
    font-size: 50px !important;
}

.avatar-size-100 {
    width: 100px;
    height: 100px;
    font-size: 100px !important;
}

.avatar-size-150 {
    width: 150px;
    height: 150px;
    font-size: 150px !important;
}

/** specific element styling */
.task-top {
    display: block;
    width: inherit;
    height: 0.25rem;
    background: linear-gradient(to right, rgb(28,121,159), rgb(94,196,219), rgb(245,222,179));
}

.modal-backdrop.fade.show {
    z-index: -1;
}

/** select2 custom styling */
.select2-selection.select2-selection--single {
    background-color: rgb(2,4,22);
    background-image: var(--body-gradient);
    min-height: 35px;
}

.select2.select2-container.select2-container--default {
    width: 100%;
}

/** upvote toggle */
.toggle {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggle input {
    display: none;
}

#upvote-icon {
    color: grey;
}

.toggle input:checked + #upvote-icon {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/** submit box (an input with a submit button inside) */
.submit-box {
    position: relative;
}

.submit-box input {
    width: 100%;
}

.submit-box button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/** screen size specific styling */
@media (min-width: 768px) {
    .d-block-md {
        display: block !important;
    }

    .text-start-md {
        text-align: start;
    }
}

@media (min-width: 992px) {
    .d-block-lg {
        display: block !important;
    }

    .text-start-lg {
        text-align: start;
    }
}

/** 
    load screen
    code for loading icon adapted from https://loading.io/css/
*/
.load-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.load-screen.visible {
    visibility: visible;
}

.view-center {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%);
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: linear-gradient(var(--primary-theme-color), var(--on-primary-theme-color));
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
