@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Handjet:wght@300&display=swap');

:root {
    --primary-theme-color: #0a5b83;
    --secondary-theme-color: #1c799f;
    --accent-theme-color: #f88c49;
    --on-primary-theme-color: #5ec4db;
    --light-theme-color: #f1f4dc;
    --neutral-theme-color: #f5deb3;
    --theme-gradient: linear-gradient(rgb(77,95,95), rgb(255,224,160));
    --body-gradient: linear-gradient(rgb(32,36,40), rgb(2,4,22));
    --standard-gradient: linear-gradient(to right, rgb(34,0,188), rgb(74,177,255));
    --neutral-gradient: linear-gradient(to right, rgb(101,101,101), rgb(186,186,186));
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif !important;
    background: var(--body-gradient);
    color: white;
    padding: 0 !important;
    margin: 0 !important;
}

/** theme color utilities */
.bg-theme-primary, .btn-theme-primary {
    background-color: var(--primary-theme-color) !important;
    color: white;
}

.bg-theme-secondary, .btn-theme-secondary {
    background-color: var(--secondary-theme-color) !important;
    color: white;
}

.bg-theme-accent, .btn-theme-accent {
    background-color: var(--accent-theme-color) !important;
    color: white;
}

.bg-theme-gradient, .btn-theme-gradient {
    background-image: var(--theme-gradient) !important;
    color: black;
}

.bg-theme-on-primary, .btn-theme-on-primary {
    background-color: var(--on-primary-theme-color) !important;
    color: black;
}

.bg-theme-light, .btn-theme-light {
    background-color: var(--light-theme-color) !important;
    color: black;
}

.bg-theme-neutral, .btn-theme-neutral {
    background-color: var(--neutral-theme-color) !important;
    color: black;
}

.bg-body-gradient, .btn-body-gradient {
    background-image: var(--body-gradient) !important;
    color: white;
}

.bg-standard-gradient, .btn-standard-gradient {
    background-image: var(--standard-gradient) !important;
    color: white;
}

.bg-neutral-gradient, .btn-neutral-gradient {
    background-image: var(--neutral-gradient) !important;
    color: white;
}

[class*="btn-theme"], .btn-body-gradient, .btn-standard-gradient, .btn-neutral-gradient {
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    border-radius: 0.375rem;
    -webkit-appearance: button;
}

[class*="btn-theme"]:hover {
    filter: brightness(95%);
}

[class*="btn-theme"]:active {
    transform: scale(0.95);
}

.text-theme-primary {
    color: var(--primary-theme-color) !important;
}

.text-theme-secondary {
    color: var(--secondary-theme-color) !important;
}

.text-theme-accent {
    color: var(--accent-theme-color) !important;
}

.text-theme-on-primary {
    color: var(--on-primary-theme-color) !important;
}

.text-theme-light {
    color: var(--light-theme-color) !important;
}

.text-theme-neutral {
    color: var(--neutral-theme-color) !important;
}

.border-theme-primary {
    border-color: var(--primary-theme-color) !important;
}

.border-theme-secondary {
    border-color: var(--secondary-theme-color) !important;
}

.border-theme-accent {
    border-color: var(--accent-theme-color) !important;
}

.border-theme-on-primary {
    border-color: var(--on-primary-theme-color) !important;
}

.border-theme-light {
    border-color: var(--light-theme-color) !important;
}

.border-theme-neutral {
    border-color: var(--neutral-theme-color) !important;
}

[class*="border-theme"] {
    border-style: solid;
    border-width: 5px;
}

/** gradient utilities */
.bg-gradient-2 {
    background-image: linear-gradient(var(--color1), var(--color2));
}

.text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** borders, shadows, outlines, text colors utilities */
.shadow-grey {
    box-shadow: 0px 3px 10px grey;
}

/** glassmorphism effects */
.glassmorphism {
    backdrop-filter: blur(70px);
}

#page-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#page-backdrop-object {
    width: 1000px;
    height: 50px;
    border-top: 10px solid var(--on-primary-theme-color);
    border-bottom: 10px solid var(--light-theme-color);
    transform: skewY(20deg);
}

/** content resizing */
.object-contain {
    object-fit: contain;
}

/** custom hover effects */
.userlink:hover {
    color: #0a58ca !important;
}

.hover-push:hover {
    transform: translateY(5px);
    -moz-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transition: 0.8s;
}

.shift-obj-container:hover .right-shift-obj {
    transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transition: 1s;
}

.cursor-pointer {
    cursor: pointer;
}

/** custom avatar sizes */
.avatar-size-30 {
    width: 30px;
    height: 30px;
    font-size: 30px !important;
}

.avatar-size-50 {
    width: 50px;
    height: 50px;
    font-size: 50px !important;
}

.avatar-size-100 {
    width: 100px;
    height: 100px;
    font-size: 100px !important;
}

.avatar-size-150 {
    width: 150px;
    height: 150px;
    font-size: 150px !important;
}

/** specific element styling */
.task-top {
    display: block;
    width: inherit;
    height: 0.25rem;
    background: linear-gradient(to right, rgb(28,121,159), rgb(94,196,219), rgb(245,222,179));
}

.modal-backdrop.fade.show {
    display: none !important;
}

/** screen size specific styling */
@media (min-width: 768px) {
    .d-block-md {
        display: block !important;
    }

    .text-start-md {
        text-align: start;
    }
}

@media (min-width: 992px) {
    .d-block-lg {
        display: block !important;
    }

    .text-start-lg {
        text-align: start;
    }
}

/** load screen */
.load-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.load-screen .bug-icon {
    position: sticky;
    display: inline-block;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 70px;
    animation: pulse-text 4s infinite;
    transition: 0.5s;
}

.load-screen .bug-icon:hover {
    animation: 0;
}

.loading-text {
    position: sticky;
    display: inline-block;
    top: calc(40% + 70px);
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 60px;
    text-shadow: 5px 5px 1px grey;
    transition: 1s;
}

.loading-text span {
    display: inline-block;
    animation: wave-text 2s ease-in-out infinite;
    animation-delay: calc(.2s * var(--i));
}

.loading-text:hover {
    text-shadow: 5px 5px 5px grey;
}

@keyframes pulse-text {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes wave-text {
    0%, 50%, 100% {
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    30% {
        transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
}

/** fonts and symbols */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.font-digital {
    font-family: 'Handjet', cursive !important;
}

.fw-500 {
    font-weight: 500;
}

/** backgrounds */
.bg-grad-hover {
    background-size: 200% auto;
    transition: 0.4s;
}

.bg-grad-hover:hover {
    background-position: right center;
}

.bg-grad-dusk-rose {
    background-image: linear-gradient(to right, rgb(237,207,207), rgb(255,255,255), rgb(122,130,123));
}

.bg-grad-neo-blue {
    background-image: linear-gradient(90deg, rgba(154,254,255,1) 0%, rgba(0,2,78,1) 50%, rgba(154,254,255,1) 100%);
}

.bg-grad-dull-gold {
    background-image: linear-gradient(to bottom, rgb(77,95,95), rgb(255,224,160));
}

.bg-grad-standard-blue {
    background-image: linear-gradient(to right, rgb(34,0,188), rgb(74,177,255));
}

.bg-grad-grey {
    background-image: linear-gradient(to right, rgb(101,101,101), rgb(186,186,186));
}

.bg-grey {
    background-color: grey;
}

.tg-digital-blue {
    background-image: linear-gradient(to right, rgb(111,136,255), rgb(64,243,210));
    color: rgb(88,190,233);
}

.tg-cool-blue {
    background-image: linear-gradient(to right, rgb(0,73,113), rgb(99,144,168));
    color: rgb(26,96,134);
}

.tg-dull-gold {
    background-image: linear-gradient(to right, rgb(77,95,95), rgb(255,224,160));
    color: rgb(166,159,128);
}

.tg-grad-grey {
    background-image: linear-gradient(to right, rgb(101,101,101), rgb(186,186,186));
    color: grey;
}

/** borders, shadows, outlines, text colors */
.brd-white {
    border: 2px solid white;
}

.outline-grey {
    box-shadow: 1px 1px 2px grey;
}

.text-shadow-grey {
    text-shadow: -5px 5px 3px rgb(190,190,190,0.5);
}

.text-grey {
    color: darkgrey;
}

.text-wheat {
    color: wheat;
}

/** custom objects */
.danger-btn-invert {
    color: #dc3545;
    background: white;
    border-color: #dc3545;
    border-radius: 0.25rem;
}

.half-screen-width {
    width: 50vw;
}

.width-90 {
    width: 90%;
}

.full-width {
    width: 100%;
}

.fill-height-60 {
    height: 60%;
}

.rounded-30 {
    border-radius: 30%;
}

/** custom margins */
.ms-left-shift {
    margin-left: -1rem;
}

.mt-upward-shift {
    margin-top: -1rem;
}

.mt-40 {
    margin-top: 40%;
}

/** select2 */
.select2-container--default {
    color: black !important;
}

.select2-container--default .select2-selection--single {
    min-height: 35px;
}

/** toggle using hidden checkbox */
.toggle {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
    -moz-transform: translateX(calc(var(--width) - var(--height)));
    -webkit-transform: translateX(calc(var(--width) - var(--height)));
}

/** upvote toggle */
#upvote-icon {
    color: grey;
}

.toggle input:checked + #upvote-icon {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/** light and dark mode toggle */
#light-dark-container {
    position: relative;
}

#light-dark {
    --width: 60px;
    --height: 30px;

    position: absolute;
    top: 0;
    right: 1rem;
    width: var(--width);
    height: var(--height);
}

#light-dark .slider {
    background-image: linear-gradient(180deg, rgba(24,196,201,1) 0%, rgba(154,254,255,1) 100%);
    padding: 0.25rem;
    border-radius: 50rem;
    transition: 0.5s ease-in-out;
}

#light-dark .slider::before {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: url("https://api.dicebear.com/6.x/icons/svg?icon=sun&backgroundColor=transparent");
    transition: 0.5s ease-in-out;
}

#light-dark input:checked + .slider {
background-image: linear-gradient(180deg, rgba(0,2,78,1) 0%, rgba(119,131,207,1) 100%);
}

#light-dark input:checked + .slider::before {
    background-image: url("https://api.dicebear.com/6.x/icons/svg?icon=moonStars&backgroundColor=transparent");
}

#light-dark .slider.no-transition, #light-dark .slider::before.no-transition {
    transition: 0s;
}

/** submit box (an input with a submit button inside) */
.submit-box {
    position: relative;
}

.submit-box input {
    width: 100%;
}

.submit-box button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/** app exhibit slideshow */
#app-exhibit {
    position: relative;
    width: 50vw;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border: 5px inset grey;
    border-radius: 1rem;
}

#app-exhibit img {
    width: 100%;
    height: auto;
    display: none;
    border-radius: 1rem;
}

#app-exhibit img.visible {
    display: block;
}