@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --bg-color: var(--bs-light);
    --text-color: var(--bs-dark);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif !important;
}

body, body a, button, .card, .modal-content, .mode-text, .userlink {
    --bg-color: var(--bs-light);
    --text-color: var(--bs-dark);
}

body.dark, body a.dark, button.dark, .card.dark, .modal-content.dark, .mode-text.dark, .userlink.dark {
    --bg-color: var(--bs-dark);
    --text-color: var(--bs-light);
}

@media (prefers-color-scheme: dark) {
    body, body a, button, .card, .modal-content, .mode-text, .userlink {
        --bg-color: var(--bs-dark);
        --text-color: var(--bs-light);
    }

    body.light, body a.light, button.light, .card.light, .modal-content.light, .mode-text.light, .userlink.light {
        --bg-color: var(--bs-light);
        --text-color: var(--bs-dark);
    }
}

body, body a, button, .card, .modal-content, .mode-text, .userlink  {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

[class*="userlink"]:hover {
    color: #0a58ca !important;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.block-strip {
    display: block;
    width: inherit;
    height: 0.25rem;
}

.bg-grad-hover {
    background-size: 200% auto;
    transition: 0.8s;
}

.bg-grad-hover:hover {
    background-position: right center;
}

.bg-grad-dusk-rose {
    background-image: linear-gradient(to right, rgb(237,207,207), rgb(255,255,255), rgb(122,130,123));
}

.bg-grad-neo-blue {
    background-image: linear-gradient(90deg, rgba(154,254,255,1) 0%, rgba(0,2,78,1) 50%, rgba(154,254,255,1) 100%);
}

.bg-grad-sunset {
    background-image: linear-gradient(to right, rgb(63,94,251), rgb(252,70,107));
}

.bg-grad-dull-gold {
    background-image: linear-gradient(to bottom, rgb(77,95,95), rgb(255,224,160));
}

.bg-grad-standard-blue {
    background-image: linear-gradient(to right, rgb(34,0,188), rgb(74,177,255));
}

.bg-grad-grey {
    background-image: linear-gradient(to right, rgb(101,101,101), rgb(186,186,186));
}

.tg-digital-blue {
    background-image: linear-gradient(to right, rgb(111,136,255), rgb(64,243,210));
    color: rgb(88,190,233);
}

.tg-cool-blue {
    background-image: linear-gradient(to right, rgb(0,73,113), rgb(99,144,168));
    color: rgb(26,96,134);
}

.tg-dull-gold {
    background-image: linear-gradient(to right, rgb(77,95,95), rgb(255,224,160));
    color: rgb(166,159,128);
}

.brd-white {
    border: 2px solid white;
}

.shadow-grey {
    box-shadow: 0px 3px 10px grey;
}

.outline-grey {
    box-shadow: 1px 1px 2px grey;
}

.text-grey {
    color: darkgrey;
}

.text-wheat {
    color: wheat;
}

.text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fw-500 {
    font-weight: 500;
}

.hover-push:hover {
    transform: translateY(5px);
    box-shadow: none;
    transition: 0.8s;
}

.shift-obj-container:hover .right-shift-obj {
    transform: translateX(5px);
    transition: 1s;
}

.danger-btn-invert {
    color: #dc3545;
    background: white;
    border-color: #dc3545;
    border-radius: 0.25rem;
}

.avatar-size-30 {
    width: 30px;
    height: 30px;
    font-size: 30px !important;
}

.avatar-size-50 {
    width: 50px;
    height: 50px;
    font-size: 50px !important;
}

.avatar-size-100 {
    width: 100px;
    height: 100px;
    font-size: 100px !important;
}

.rounded-30 {
    border-radius: 30%;
}

.half-screen-width {
    width: 50vw;
}

.width-90 {
    width: 90%;
}

.ms-left-shift {
    margin-left: -1rem;
}

.mt-upward-shift {
    margin-top: -1rem;
}

.mt-40 {
    margin-top: 40%;
}

.fill-height-60 {
    height: 60%;
}

.select2-container--default .select2-selection--single {
    min-height: 35px;
}

/** toggle using hidden checkbox */
.toggle {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .text-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.toggle .text-slider::before, .toggle .text-slider::after {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle .text-slider::before {
    content: attr(data-off);
    left: 0;
}

.toggle .text-slider::after {
    content: attr(data-on);
    left: calc(var(--width) * -1);
}

.toggle input:checked + .text-slider::before {
    transform: translateX(var(--width));
}

.toggle input:checked + .text-slider::after {
    transform: translateX(var(--width));
}

/** upvote toggle */
#upvote-icon {
    color: grey;
}

.toggle input:checked + #upvote-icon {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/** help wanted toggle */
#help-wanted {
    --width: 200px;
    --height: 50px;

    width: var(--width);
    height: var(--height);
}

#help-wanted .text-slider {
    transition: 0.5s ease-in-out;
}

#help-wanted .text-slider::before {
    background-color: grey;
    color: white;
    transition: 0.5s ease-in-out;
}

#help-wanted .text-slider::after {
    background-color: #198754;
    color: white;
    border-radius: 50rem;
    padding: 0.25rem;
    transition: 0.5s ease-in-out;
}

/** light and dark mode toggle */
#light-dark-container {
    position: relative;
}

#light-dark {
    --width: 60px;
    --height: 30px;

    position: absolute;
    top: 0;
    right: 1rem;
    width: var(--width);
    height: var(--height);
}

#light-dark .slider {
    background-image: linear-gradient(180deg, rgba(24,196,201,1) 0%, rgba(154,254,255,1) 100%);
    padding: 0.25rem;
    border-radius: 50rem;
    transition: 0.5s ease-in-out;
}

#light-dark .slider::before {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: url("https://api.dicebear.com/6.x/icons/svg?icon=sun&backgroundColor=transparent");
    transition: 0.5s ease-in-out;
}

#light-dark input:checked + .slider {
background-image: linear-gradient(180deg, rgba(0,2,78,1) 0%, rgba(119,131,207,1) 100%);
}

#light-dark input:checked + .slider::before {
    background-image: url("https://api.dicebear.com/6.x/icons/svg?icon=moonStars&backgroundColor=transparent");
}

#light-dark .slider.no-transition, #light-dark .slider::before.no-transition {
    transition: 0s;
}